.start{
  opacity: 0;
}
.end{
  opacity: 1;
  transition: opacity 0.5s; /* opacity 속성이 변할 때 */
}
.main-bg{
  height: 300px;
  /* background-image: url('./img/bg.png'); */
  background-size: cover;
  background-position: center;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
